<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../scripts/angular-1.5.5.js"></script>
    <script>
        (function () {
            var app = angular.module('myApp', []);
            var myController = function ($scope, $http) {
                $scope.requestPending = true;

                OnUserCallComplete = function (response) {
                    $scope.user = response.data;
                    $scope.requestPending = true;

                    $http.get($scope.user.repos_url)
                        .then(function (response) {
                            $scope.user.repos = response.data;
                        });
                }

                $scope.search = function () {
                    $scope.requestPending = false;
                    var url = "https://api.github.com/users/" + $scope.userName;
                    $http.get(url)
                     .then(OnUserCallComplete);
                };
            };
            app.controller("myController", ['$scope', '$http', myController]);
        }());
    </script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <form name="searchUser">
        <input type="search" ng-model="userName" placeholder="Username to find" />
        <input type="submit" value="Search" ng-click="search()" />
        (Hint: robconery, adsharmawp)<br />
        You are searching for: {{userName}}<br />
        Request Pending : {{requestPending}}
    </form>
    <hr />
    <div>
        User: {{ user.name }}<br />
        Location: {{ user.location }}
    </div>
    <hr />
    <div ng-include="'L6-part.html'" ng-show="user.repos"></div>
</body>
</html>
