Order:
<select ng-model="repoSortOrder">
    <option value="name">Name</option>
    <option value="-size">Stars</option>
    <option value="language">Language</option>
</select>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Starts</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in user.repos | orderBy:repoSortOrder">
            <td>{{repo.name}}</td>
            <td>{{repo.size | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>